[submodule "themes/hugo-refresh"]
	path = themes/hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
