<div class="aboutme">
<p>
I am an Istanbul transplant, living in NY for the past 20 years. I work at Instagram as an engineering manager focusing on data. Previously, I was the co-founder and VP of Engineering at <a href="http://www.abaka.io" alt="abaka">Abaka.io</a> working on patient financial experience in healthcare. Prior to that I was the Director of Core and Data Engineering at <a href="http://www.meetup.com" alt="meetup">Meetup</a> where I led a great team of engineers, and Director of Technology at <a href="http://www.epam.com">EPAM</a> where I focused on healthcare tech. </p>

<p>I love leading & and managing engineering teams, thinking about engineering management and, whenever I find the time, getting my hands dirty to create meaningful software at scale. 
</p>
<p>
I also believe in life-long learning and trying new things. My current area of interest is application of Machine Learning and Artificial Intelligence. To get a deeper understanding of the field, I am enrolled in a Machine Learning Masters program at Georgia Tech. </p>
<p>
I am an avid traveller, soccer fan and language lover. I speak a few languages and would love to learn more. I have a Computer Science degree from Polytechnic University and a management degree from NYU. For an up to date resume, please check out my LinkedIn profile below.  
</p>

</div>