<div class="welcome">
<p>
I am an Istanbul transplant, living in NY for the past 20 years. I work at Meetup as the Director of Core and Data Engineering, where I lead a great team of software engineers and engineering managers to make people meet up in real life. </p>

<p>I love leading & and managing engineering teams, thinking about engineering management and, whenever I find the time, getting my hands dirty to create meaningful software at scale. 
</p>
<p>
I also believe in life-long learning and trying new things. My current area of interest is application of Machine Learning and Artificial Intelligence. To get a deeper understanding of what is happening in the AI world, I am enrolled in a machine learning master's program at Georgia Tech. </p>
<p>
I am an avid traveller, soccer fan and language lover. I speak a few languages and would love to learn more. For an up to date resume, please check out my LinkedIn profile below.
</p>


<br/>
Technology Leader. Developer Entrepreneur. <br/>
Quadrilingual. World-traveler. Soccer fan.<br/>
<br/>
</div>